extends layouts/main

block header
    include partials/header

block content
    h1!= title
    .row
        if courses.length
            each course in courses
                // -
                //     course = JSON.parse(course)
                .col.s6.offsets-3
                    .card
                        .card-image
                            img(src=course.img)
                        .card-content
                            span.card-title.Card!=course.title
                            p.price!=course.price
                        .card-action.actions
                            a(href=`/courses/${course.id}` target="_blank") Открыть курс
                            if isAuth
                                a(href=`/courses/${course.id}/edit?allow=true` target="_blank") Редактировать
                                form(action='/card/add' method='POST')
                                    input(type="hidden" name='id' value=course.id)
                                    button.btn.btn-primary(type="submit") Купить

        else
            p Курсов нет

block footer
    include partials/footer