extends layouts/main
block header
    include partials/header
block content
   h1 Профиль
   .row
       .col.s6
           img(
                class="avatar"
               src="https://fakeimg.pl/500x500/"
               alt="")
           p Аватара нет
       .col.s6
           form(action="/profile" method="POST")
               p Ваш email:
                strong!= user.email
               .input-field
                   input#name.validate(type="text" name='name' required value!=user.name)
                   label(for="name") Ваше имя
                   span.helper-text(data-error="Имя не может быть пустым" )
               .file-field.input-field
                   .btn
                       span Аватар
                       input(type='file' name="avatar")
                   .file-path-wrapper
                       input.file-path.validate(type='text')
               input(type="hidden" name="_csrf" value=csrf)
               button.btn(type="submit") Изменить



